.backlog {
  background: white;
}

.selected {
  background: rgb(226, 226, 131);
}

.in-progress {
  background: rgb(82, 206, 82);
}

.done {
  background: rgb(207, 81, 81);
  text-decoration: line-through;
}
