@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');

#error {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  background: #131313;
  color: #fff;
  font-size: 80px;
  font-family: 'Fira Mono', monospace;
  letter-spacing: -7px;
  position: relative;
}

.error {
  animation: glitch 1s linear infinite;
  margin-bottom: 20px;
}

@keyframes glitch {
  2%,
  64% {
    transform: translate(2px, 0) skew(0deg);
  }
  4%,
  60% {
    transform: translate(-2px, 0) skew(0deg);
  }
  62% {
    transform: translate(0, 0) skew(5deg);
  }
}

.error:before,
.error:after {
  content: attr(title);
  position: absolute;
  left: 0;
}

.error:before {
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop {
  2%,
  64% {
    transform: translate(2px, -2px);
  }
  4%,
  60% {
    transform: translate(-2px, 2px);
  }
  62% {
    transform: translate(13px, -1px) skew(-13deg);
  }
}

.error:after {
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom {
  2%,
  64% {
    transform: translate(-2px, 0);
  }
  4%,
  60% {
    transform: translate(-2px, 0);
  }
  62% {
    transform: translate(-22px, 5px) skew(21deg);
  }
}

a {
  display: block;
  color: white;
  text-decoration: none;
}
.testing {
  display: block;
  position: relative;
  background: none;
  outline: none;
  cursor: pointer;
  padding: 4px 10px;
  font-size: 0.5em;
  letter-spacing: 0.35em;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: all 0.2s ease;
  margin: 0 auto;
}
.testing:before,
.testing:after {
  content: 'TRY AGAIN';
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px 0;
  width: 100%;
  -webkit-clip: rect(0px, 0px, 0px, 0px);
  clip: rect(0px, 0px, 0px, 0px);
  background: #fff;
  color: #000;
}
.testing:before {
  left: -3px;
  top: -2px;
  text-shadow: 2px 0 #fff;
  box-shadow: 2px 0 #fff;
}
.testing:after {
  left: 2px;
  bottom: -2px;
  text-shadow: -1px 0 #fff;
  box-shadow: -1px 0 #fff;
}
.testing:hover {
  background: white;
  color: black;
}
.testing:hover:before {
  animation: glitch-test 1.5s infinite linear alternate-reverse;
}
.testing:hover:after {
  animation: glitch-test 2s infinite linear alternate;
}
@keyframes glitch-test {
  0% {
    clip: rect(-3px, 600px, 0px, 0px);
  }
  5.88235% {
    clip: rect(0px, 600px, 0px, 0px);
  }
  11.76471% {
    clip: rect(-3px, 600px, 0px, 0px);
  }
  17.64706% {
    clip: rect(-3px, 600px, 0px, 0px);
  }
  23.52941% {
    clip: rect(100px, 600px, 100px, 0px);
  }
  29.41176% {
    clip: rect(0px, 600px, 600px, 0px);
  }
  35.29412% {
    clip: rect(100px, 600px, 0px, 0px);
  }
  41.17647% {
    clip: rect(0px, 600px, 600px, 0px);
  }
  47.05882% {
    clip: rect(100px, 600px, 0px, 0px);
  }
  52.94118% {
    clip: rect(-3px, 600px, 0px, 0px);
  }
  58.82353% {
    clip: rect(100px, 450px, 100px, 0px);
  }
  64.70588% {
    clip: rect(0px, 450px, 0px, 0px);
  }
  70.58824% {
    clip: rect(100px, 450px, 100px, 0px);
  }
  76.47059% {
    clip: rect(0px, 450px, 0px, 0px);
  }
  82.35294% {
    clip: rect(0px, 450px, 0px, 0px);
  }
  88.23529% {
    clip: rect(0px, 450px, 0px, 0px);
  }
  94.11765% {
    clip: rect(0px, 450px, 0px, 0px);
  }
  100% {
    clip: rect(0px, 450px, 0px, 0px);
  }
}
