* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  min-width: 320px;
  max-width: 1200px;
  color: #000;
}
